
<nav id="navigation">
	<a href="#" class="nav-btn">HOME<span></span></a>
	<ul>
		<li class="active"><%= link_to 'Inicio', root_path%></li>
		<li><%= link_to 'Acerca de nosotros', about_path %></a></li>
		<li><%= link_to 'Sign up', signup_path %></li>
        <li><a href="calendar.html">Diagnostico</a></li>
	</ul>
	<div class="cl">&nbsp;</div>
</nav>



<!-- main -->
<div class="main">

	<div class="featured">
		<h4>Bienvenido a <strong>Blue Foot</strong> ... </h4>
	</div>

	<section class="cols">
		<div class="col">
			<h3>Acerca de nosotros</h3>
			<h5>Huella Verde es una empresa dedicada a ...</h5>
			<p>Huella verde es otra empresa bla bla bla </p>
		</div>

		<div class="col">
			<h3>Bla bla bla bla </h3>
			<!--img src="css/images/col-img.png" alt="" class="left"/> -->
			<h5>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </h5>
			<div class="cl">&nbsp;</div>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus dui ipsum, cursus ut adipiscing porta, vestibulum quis turpis adispicing amet sit. <br /><a href="#" class="more">view more</a></p>
		</div>

		<div class="col">
			<h3>Nuestros servicios</h3>
			<ul>
				<li><a href="#">Diagnostico</a></li>
				<li><a href="#">Consultoría </a></li>
				<li><a href="#">hjkhjk</a></li>
				<li><a href="#">fgbhjk</a></li>
				<li><a href="#">fghjk</a></li>
			</ul>
		</div>
		<div class="cl">&nbsp;</div>
	</section>

	<section class="entries">
		
	</section>
</div>
<!-- end of main -->
			